@keyframes nectar-scrolling-text-animation {
  0% {
    transform: translateX(-20%) translateZ(0);
  }
  100% {
    transform: translateX(-120%) translateZ(0);
  }
}

@keyframes fadein  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeUpAnimation {
  0% {
    opacity: 0;
    // transform: translateY(115%);
    transform: translate(0px, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes S6L3FadeUp{
  0% {
    opacity: 0;
    // transform: translateY(115%);
    transform: translate(50%, 50px);
  }

  100% {
    // opacity: 1;
    transform: translate(50%, 0px);
  }
}
@keyframes StokeAnimation {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes HeaderStartup {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 80px;
  }
}