@keyframes main-intro-animation {
  from {
    margin-inline: 0%;
    margin-top: -20px;
  }
  to {
    margin-inline: 2%;
    margin-top: 0px;
  }
}
.secion-first-intro {
  margin-inline: 2%;
  animation: main-intro-animation 1s;
  margin-bottom: 20px;
  height: fit-content;
  max-width: 100vw;
}
.first-intro {
  &-container {
    color: white;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(
        #000 0,
        transparent 20%,
        transparent calc(100% - 20%),
        #000 100%
      ),
      url("../../../../image/slider-background.jpg");
    background: linear-gradient(
        #000 0,
        transparent 20%,
        transparent calc(100% - 20%),
        #000 100%
      ),
      url("../../../../image/slider-background.jpg");

    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-inline: 70px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 100px;
    // padding-inline: 70px;
    .users {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    &-up {
      display: flex;
      width: 100%;
      &-tittle {
        // flex-grow: 1;
        padding-inline: 3vw;
        line-height: 100px;
      }
      &-decription {
        padding-inline: 3vw;
        .content {
          padding-top: 50px;
        }
        width: 60%;
      }
    }
    &-bottom {
      // height: 200px;
      width: 100%;
      height: fit-content;
    }
  }
}
.hightlight-header {
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(255, 255, 255);
  font: 700 72px / 79.2px Heebo;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Heebo;
  font-weight: 700;
  font-size: inherit;

  .basic-underline {
    position: absolute;
    max-width: 100%;
    height: 30%;
    bottom: 10px;
    left: 0;
    bottom: -7%;
    path {
      stroke-dasharray: 1;
      stroke-dashoffset: 0;
    }
    &.animated {
      path {
        animation-delay: 3s;
        animation: StokeAnimation 1.3s;
      }
    }
  }
}

.sample-windows {
  padding-inline: 3vw;

  margin-top: 100px;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  .header {
    position: relative;
    height: 52px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.266);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .main {
    position: relative;
    height: 513px;
    width: 100%;
  }
}
@media only screen and (max-width: map-get($breakpoints, large)) {
  .first-intro-content-up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-tittle {
      padding: 0px;
      padding-top: 30px;
      padding-right: 1%;
      padding-left: 1%;
      h1 {
        font-size: 7vw;
        line-height: 1.1;
      }
    }
  }
  .first-intro-content .users {
    justify-content: center;
  }
  .first-intro-content-up-decription {
    padding-inline: 2vw;
    width: 70%;
    p {
      font-size: map-get($inline, small);
    }
  }
}
@media only screen and (max-width: map-get($breakpoints, medium)) {
  .first-intro-content-up-decription {
    p {
      font-size: map-get($inline, tiny);
    }
  }
  .first-intro-container {
    padding-inline: 30px;
  }
}
