.section-function {
  max-width: 100vw;
  // overflow: hidden;
  .container {
    display: flex;
    // justify-content: stretch;
    align-items: stretch;
    position: relative;
    min-height: 200px;
    width: 100%;
    padding-block: 40px;
    // gap: 1%;
  }
  .sticky-left {
    // left: 0px;
    min-width: calc(100vw / 7 * 4);
    flex-grow: 0;
    padding-left: 5vw;
  
    .video-container {
      // background-color: black;
      position: -webkit-sticky;
      position: sticky;
      top: 15%;
      // transform: translateY(-50%);
      height: 600px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-items: left;
      overflow: hidden;
      transition-duration: 1s;
      .video {
        position: relative;
        height: 90%;
        width: 90%;
        border-radius: 20px;
        overflow: hidden;

      }
      video {
        position: absolute;
        top: 0;
        border-radius: 20px;
        // transition-duration: 1s;
        transition:  100ms;
        // animation-duration: 1s;;
        padding: 0px;
        margin: 0px;
      }
    }
  }
  .scrolling-right {
    flex-grow: 1;
    // background-color: gray;
    padding-inline: 5vw;
    margin-block: 4%;
    flex-grow: 0;
    // height: 2000px;
    &-blank-space {
      height: 500px;
      //  background-color: black;
      width: 100%;
    }
    .list {
      // list-style-type: circle;
      // list-style-type: lower-alpha;
      li {
        margin-bottom: 10px;
        // padding-left: 10px;
      }
      li::before {
        content: ".";
        // position: absolute;
        margin-right: 25px;
        left: 0;
        top: 9px;
        line-height: 0;
        font-size: 26px;
      }
    }
    video {
      display: none;
      margin-block: 20px;
      border-radius: 10px;
    }
  }
}
@media only screen and (max-width: map-get($breakpoints, large)) {
  .section-function .sticky-left {
    min-width: calc(100vw / 2);
  }
  .sticky-left {
    display: none;
  }
  .section-function .scrolling-right {
    margin-block: 0;
  }

  .section-function .scrolling-right-blank-space {
    display: none;
  }
  .section-function .scrolling-right video {
    display: block;
  }
}
